<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.IngredientMapper">

    <select id="getIngredientsByCategoryName" resultType="com.korit.allways_back.entity.Ingredient">
        SELECT
            i.ingredient_id AS ingredientId,
            i.ingredient_name AS ingredientName,
            i.ingredient_category_id AS ingredientCategoryId,
            c.ingredient_category_name AS ingredientCategoryName
        FROM ingredient_tb i
            INNER JOIN ingredient_category_tb c
            ON i.ingredient_category_id = c.ingredient_category_id
        WHERE c.ingredient_category_name = #{categoryName};
    </select>

</mapper>