<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.IngredientMapper">
    <select id="findByCategoryName" resultType="Ingredient">
        SELECT
            ing.ingredient_id,
            ing.category_id,
            ing.ingredient_name,
            ing.price,
            ing.image_id,
            c.category_name,
            img.img_url AS imgURL
        FROM
            ingredient_tb ing
            INNER JOIN category_tb c ON ing.category_id = c.category_id
            LEFT JOIN image_tb img ON ing.image_id = img.image_id
        WHERE
            c.category_name = #{categoryName}
            AND c.category_type = 'ingredient'
        ORDER BY
            ing.ingredient_id
    </select>

</mapper>