<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.ItemMapper">

    <select id="findByCategoryName" resultType="Item">
        SELECT
            i.item_id,
            i.category_id,
            i.item_name,
            i.description,
            i.price,
            i.size,
            i.image_id,
            c.category_name,
            img.img_url AS imageUrl
        FROM
            item_tb i
            INNER JOIN category_tb c ON i.category_id = c.category_id
            LEFT JOIN image_tb img ON i.image_id = img.image_id
        WHERE
            c.category_name = #{categoryName}
            AND c.category_type = 'item'
        ORDER BY
            i.item_id
    </select>

</mapper>