<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.allways_back.mapper.ItemMapper">
    <select id="getItemsByCategoryName" resultType="com.korit.allways_back.entity.Item">
        SELECT
            i.item_id AS itemId,
            i.item_name AS itemName,
            i.content,
            i.price,
            i.size,
            i.img_url AS imgUrl,
            i.item_category_id AS itemCategoryId, c.item_category_name AS itemCategoryName
        FROM item_tb i
            INNER JOIN item_category_tb c
            ON i.item_category_id = c.item_category_id
        WHERE c.item_category_name = #{categoryName}
        AND (i.size = 15 OR i.size is Null)
    </select>
</mapper>

