<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO order_tb (user_id, total_price, ordered_at)
        VALUES (#{userId}, #{totalPrice}, now())
    </insert>

    <insert id="insertOrderDetails">
        INSERT INTO order_detail_tb (order_id, product_id, unit_price, quantity)
            VALUES
                <foreach collection="orderDetails" item="detail" separator=",">
                    (#{orderId}, #{detail.productId}, #{detail.unitPrice}, #{detail.quantity})
                </foreach>
    </insert>

    <select id="getOrderHistory" resultType="com.korit.allways_back.dto.response.OrderHistoryRespDto">
        SELECT
            o.ordered_at as orderedAt,
            i.item_name as productName,
            GROUP_CONCAT(ing.ingredient_name SEPARATOR ', ') as ingredients,
            od.unit_price as unitPrice,
            (od.unit_price * od.quantity) as totalPrice
        FROM order_tb o
            JOIN order_detail_tb od ON o.order_id = od.order_id
            JOIN product_detail_tb pd ON od.product_id = pd.product_id
            JOIN item_tb i ON pd.item_id = i.item_id
            LEFT JOIN ingredient_tb ing ON pd.ingredient_id = ing.ingredient_id
        WHERE o.user_id = #{userId}
        GROUP BY
            o.order_id,
            i.item_name,
            od.unit_price,
            od.quantity,
            o.ordered_at
        ORDER BY
            o.ordered_at DESC
    </select>
</mapper>