<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO order_tb (user_id, total_price, ordered_at)
        VALUES (#{userId}, #{totalPrice}, now())
    </insert>

    <insert id="insertOrderDetails">
        INSERT INTO order_detail_tb (order_id, product_id, unit_price, quantity)
            VALUES
                <foreach collection="orderDetails" item="detail" separator=",">
                    (#{orderId}, #{detail.productId}, #{detail.unitPrice}, #{detail.quantity})
                </foreach>
    </insert>

    <select id="getOrderHistory" resultType="com.korit.allways_back.dto.response.OrderHistoryRespDto">
        SELECT
        ot.ordered_at AS orderedAt,
            pt.product_name AS productName,
            GROUP_CONCAT(it.ingredient_name SEPARATOR ' / ') AS ingredients,
            odt.unit_price AS unitPrice,
            ot.total_price AS totalPrice
        FROM
            order_tb ot
            INNER JOIN order_detail_tb odt ON ot.order_id = odt.order_id
            INNER JOIN product_tb pt ON odt.product_id = pt.product_id
            INNER JOIN product_detail_tb pdt ON pt.product_id = pdt.product_id
            INNER JOIN ingredient_tb it ON pdt.ingredient_id = it.ingredient_id
        WHERE
            ot.user_id = #{userId}
        GROUP BY
            odt.order_detail_id -- [작동 방식] 주문 상세 항목별로 묶어서 보여줍니다.
        ORDER BY
            ot.ordered_at DESC
    </select>
</mapper>