<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.PostMapper">
    <!-- 게시글 생성 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post_tb (
        preset_id,
        user_id,
        posted_at,
        like_count
        )
        VALUES (
        #{presetId},
        #{userId},
        NOW(),
        0
        )
    </insert>

    <!-- 전체 게시글 조회 (최신순/좋아요순) -->
    <resultMap id="PostWithIngredientsMap" type="com.korit.allways_back.entity.Post">
        <id     property="postId"     column="post_id"/>
        <result property="userId"     column="user_id"/>
        <result property="postedAt"   column="posted_at"/>
        <result property="likeCount"  column="like_count"/>
        <result property="imgUrl"     column="img_url"/>

        <result property="presetName" column="preset_name"/>
        <result property="itemName"   column="item_name"/>
        <result property="nickname"   column="nickname"/>

        <!-- liked: 0/1 -->
        <result property="liked"      column="liked"/>

        <collection property="ingredients" ofType="com.korit.allways_back.entity.Ingredient">
            <result property="ingredientName" column="ingredient_name"/>
            <result property="categoryId" column="category_id"/>
        </collection>
    </resultMap>



    <select id="findAll" resultMap="PostWithIngredientsMap" parameterType="java.lang.Integer">
        SELECT
        p.post_id,
        p.user_id,
        p.posted_at,
        p.like_count,

        imt.img_url,
        pr.preset_name,
        it.item_name,
        u.nickname,

        CASE
        WHEN #{userId} IS NULL THEN 0
        WHEN EXISTS (
        SELECT 1
        FROM like_tb l
        WHERE l.post_id = p.post_id
        AND l.user_id = #{userId}
        ) THEN 1
        ELSE 0
        END AS liked,

        igt.ingredient_name,
        igt.category_id

        FROM post_tb p
        JOIN preset_tb pr ON pr.preset_id = p.preset_id
        JOIN user_tb u ON u.user_id = p.user_id
        JOIN product_item_tb pdi ON pdi.product_id = pr.product_id
        JOIN item_tb it ON it.item_id = pdi.item_id
        JOIN image_tb imt ON imt.image_id = it.image_id

        LEFT JOIN product_ingredient_tb pit ON pit.product_id = pr.product_id
        LEFT JOIN ingredient_tb igt ON igt.ingredient_id = pit.ingredient_id
        ORDER BY p.like_count DESC, p.posted_at DESC;
    </select>

    <!-- 좋아요 토글 -->
    <insert id="insertLike">
        INSERT IGNORE INTO like_tb (
        user_id,
        post_id,
        liked_at
        )
        VALUES (
        #{userId},
        #{postId},
        NOW()
        )
    </insert>

    <delete id="deleteLike">
        DELETE FROM like_tb
        WHERE user_id = #{userId} AND post_id = #{postId}
    </delete>

    <!-- 좋아요 수 업데이트 -->
    <update id="updateLikeCount">
        UPDATE post_tb
        SET like_count = (
        SELECT COUNT(*) FROM like_tb WHERE post_id = #{postId}
        )
        WHERE post_id = #{postId}
    </update>

    <!-- postID로 게시글 삭제 -->
    <delete id="deleteByPostId">
        DELETE FROM post_tb
        WHERE post_id= #{postId}
    </delete>

    <!-- 중복 게시글 체크 -->
    <select id="existsPostByUserIdAndProductId" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM post_tb p
        JOIN preset_tb pr ON p.preset_id = pr.preset_id
        WHERE p.user_id = #{userId}
        AND pr.product_id = #{productId}
        )
    </select>

    <select id="findProductIdByPostId" resultType="int">
        SELECT pr.product_id
        FROM post_tb p
        JOIN preset_tb pr ON p.preset_id = pr.preset_id
        WHERE p.post_id = #{postId}
    </select>
</mapper>