<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.allways_back.mapper.PresetMapper">
    <insert id="createPreset" useGeneratedKeys="true" keyProperty="presetId">
        insert into
            preset_tb (preset_id, user_id, product_id, preset_name)
        values
            (default, #{userId}, #{productId}, #{presetName})
    </insert>
    <select id="findByUserId" resultType="com.korit.allways_back.entity.Preset">
        SELECT
            p.preset_id,
            p.user_id,
            p.product_id,
            p.preset_name,
            i.img_url AS imgUrl
            <!--   AS 추가하고 시도      -->
        FROM
            preset_tb p
            LEFT JOIN item_tb i ON p.product_id = i.item_id WHERE
            p.user_id = #{userId}
    </select>

    <select id="orderToPreset" resultType="com.korit.allways_back.dto.response.PresetRespDto">
        SELECT
            item_id AS itemId,
            ingredient_id AS ingredientId
        FROM
            product_detail_tb
        WHERE
            product_id = #{productId}
    </select>

    <delete id="deleteById">
        DELETE
        FROM
            preset_tb
        WHERE
            user_id = #{userId}
            AND preset_id = #{presetId}
    </delete>
    <select id="countByUserId" resultType="_int">
        SELECT
            COUNT(*)
        FROM
            preset_tb
        WHERE
            user_id = #{userId}
    </select>

    <select id="existsByUserIdAndProductId" resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            preset_tb
        WHERE
            user_id = #{userId} AND product_id = #{productId}
    </select>
</mapper>