name: GCP-VM-CICD

on: 
  push: 
    branches: [deploy-minjae, deploy-qorrbs, deploy-hyeondeok, deploy-jinhyun]
  pull_request:
    branches: [deploy-minjae, deploy-qorrbs, deploy-hyeondeok, deploy-jinhyun]

jobs:
  set-env-minjae:
    if: github.ref == 'refs/heads/deploy-minjae'
    runs-on: ubuntu-22.04
    steps:
      - name: "환경변수 세팅"
        run: | 
          if [ ${{github.ref}} == 'refs/heads/deploy-minjae' ]; then
              
            echo "GCP_VM_HOST=${{secrets.GCP_VM_HOST_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{secrets.GCP_VM_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{secrets.GCP_VM_SSHKEY_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{secrets.DOCKER_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{secrets.DOCKER_PASSWORD_MINJAE}}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{secrets.APPLICATION_SECRET_MINJAE}}" >> $GITHUB_ENV
            echo "REACT_ENV=${{secrets.REACT_ENV_MINJAE}}" >> $GITHUB_ENV

          elif [ ${{github.ref}} == 'refs/heads/deploy-minjae' ]; then
          if [ ${{github.ref}} == 'refs/heads/deploy-qorrbs' ]; then
          
            echo "GCP_VM_HOST=${{secrets.GCP_VM_HOST_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{secrets.GCP_VM_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{secrets.GCP_VM_SSHKEY_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{secrets.DOCKER_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{secrets.DOCKER_PASSWORD_MINJAE}}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{secrets.APPLICATION_SECRET_MINJAE}}" >> $GITHUB_ENV
            echo "REACT_ENV=${{secrets.REACT_ENV_MINJAE}}" >> $GITHUB_ENV

          elif [ ${{github.ref}} == 'refs/heads/deploy-qorrbs' ]; then
          if [ ${{github.ref}} == 'refs/heads/deploy-hyeondeok' ]; then
          
            echo "GCP_VM_HOST=${{secrets.GCP_VM_HOST_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{secrets.GCP_VM_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{secrets.GCP_VM_SSHKEY_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{secrets.DOCKER_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{secrets.DOCKER_PASSWORD_MINJAE}}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{secrets.APPLICATION_SECRET_MINJAE}}" >> $GITHUB_ENV
            echo "REACT_ENV=${{secrets.REACT_ENV_MINJAE}}" >> $GITHUB_ENV

          elif [ ${{github.ref}} == 'refs/heads/deploy-hyeondeok' ]; then
                    if [ ${{github.ref}} == 'refs/heads/deploy-jinhyun' ]; then
          
            echo "GCP_VM_HOST=${{secrets.GCP_VM_HOST_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{secrets.GCP_VM_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{secrets.GCP_VM_SSHKEY_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{secrets.DOCKER_USERNAME_MINJAE}}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{secrets.DOCKER_PASSWORD_MINJAE}}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{secrets.APPLICATION_SECRET_MINJAE}}" >> $GITHUB_ENV
            echo "REACT_ENV=${{secrets.REACT_ENV_MINJAE}}" >> $GITHUB_ENV

          elif [ ${{github.ref}} == 'refs/heads/deploy-jinhyun' ]; then
          fi
      - name: checkout
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{github.ref}}
          
      - name: instaill JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Springboot Build
        run: |
          cd allways_back
          echo ${{env.APPLICATION_SECRET}} | base64 -- decode > ./src/main/resources/application-secret.yml
          chmod 777 ./mvnw
          ./mvnw clean package -Dtestskip

      - name: Springboot Docker image build
        run: |
          cd allways_back
          docker build -t ${{env.DOCKER_USERNAME}}/springboot-app:latest .

      - name: SpringBoot Docker image push
        run: | 
          echo "${{env.DOCKER_PASSWORD}}" | docker login -u ${{env.DOCKER_USERNAME}} --password-stdin
          docker push ${{env.DOCKER_USERNAME}}/springboot-app:latest

      - name: React Docker image build
        run: |
          cd allways_front
          echo ${{env.REACT_ENV}} | base64 --decode > .env
          docker build -t ${{env.DOCKER_USERNAME}}/react-app:latest .
          
      - name: React Docker image push
        run: |
          docker push ${{env.DOCKER_USERNAME}}/react-app:latest .
          
