name: GCP-VM-CICD

on: 
  push: 
    branches: [deploy-minjae, deploy-qorrbs, deploy-hyeondeok, deploy-jinhyun]
  pull_request:
    branches: [deploy-minjae, deploy-qorrbs, deploy-hyeondeok, deploy-jinhyun]

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: "환경변수 세팅"
        run: | 
          if [ "${{ github.ref }}" == 'refs/heads/deploy-minjae' ]; then
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_MINJAE }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_MINJAE }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_MINJAE }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_MINJAE }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == 'refs/heads/deploy-qorrbs' ]; then
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_QORRBS }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_QORRBS }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_QORRBS }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_QORRBS }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == 'refs/heads/deploy-hyeondeok' ]; then
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_HYEONDEOK }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_HYEONDEOK }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_HYEONDEOK }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_HYEONDEOK }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == 'refs/heads/deploy-jinhyun' ]; then
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_JINHYUN }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_JINHYUN }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_JINHYUN }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_JINHYUN }}" >> $GITHUB_ENV
          fi

      - name: checkout
        uses: actions/checkout@v4

      - name: install JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Springboot Build
        run: |
          cd allways_back
          echo "${{ env.APPLICATION_SECRET }}" | base64 --decode > ./src/main/resources/application-secret.yml
          chmod +x ./mvnw
          ./mvnw clean package -DskipTests

      - name: Docker Login
        run: |
          echo "${{ env.DOCKER_PASSWORD }}" | docker login -u ${{ env.DOCKER_USERNAME }} --password-stdin

      - name: Springboot Docker build & push
        run: |
          cd allways_back
          docker build -t ${{ env.DOCKER_USERNAME }}/springboot-app:latest .
          docker push ${{ env.DOCKER_USERNAME }}/springboot-app:latest

      - name: React Docker build & push
        run: |
          cd allways_front
          echo "${{ env.REACT_ENV }}" | base64 --decode > .env
          docker build -t ${{ env.DOCKER_USERNAME }}/react-app:latest .
          docker push ${{ env.DOCKER_USERNAME }}/react-app:latest
